<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

  <property name="app_name" value="spring-boot-demo" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|[%thread]|%logger - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="traceFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/home/logs/${app_name}/${app_name}-trace%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>35</maxHistory>
    </rollingPolicy>

    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|[%thread]|%logger - %msg%n</pattern>
      <charset>utf-8</charset>
    </encoder>
  </appender>

  <appender name="errorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/home/logs/${app_name}/${app_name}-error%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>10</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|[%thread]|%logger - %msg%n</pattern>
      <charset>utf-8</charset>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <root level="INFO">
	<appender-ref ref="traceFile" />
    <appender-ref ref="errorFile" />
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
